.container {
	width: 100%;
	padding: 30px;
	display: grid;
	place-items: center;
	gap: 16px;

	.mainLogo {
		font-size: 20px;
		font-family: serif;
		font-weight: bold;
	}

	.description {
		font-size: 14px;
		font-family: serif;
		line-height: 2;
	}

	.actions {
		display: grid;
		gap: 16px;
		width: 100%;
	}
}
