.header {
	position: relative;
	padding: 8px 20px;
	display: flex;
	align-items: center;
	border-bottom: solid 1px var(--border-gray-color);

	.backButton {
		color: var(--button-gray-color);
	}

	.title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: bold;
		font-size: 16px;
	}
}
